/* PROFILE SECTION */
#profil {
  display: flex;
  justify-content: center;
  gap: 80px;
  height: 500px;
}
.imagesss {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto;
}
.imagesss img {
  width: 100%;
  height: 100%;
  filter: blur(10px);
  transition: filter 0.3s ease;
  cursor: pointer;
}
.texte {
  align-self: center;
  text-align: center;
}
.texte p {
  font-weight: 600;
}
.texte__p1 {
  text-align: center;
}
.p2txt {
  font-size: 28px;
  margin-bottom: 16px;
}
.titre {
  font-size: 48px;
  text-align: center;
}
#social {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 50px;
}
/* CONTACT */
#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 756px;
}
.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 32px;
  border: rgb(53, 53, 53) 1.6px solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  margin: 32px auto;
  padding: 8px;
}
.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 16px;
}
.contact-info-container p {
  font-size: larger;
}
.contact-icon {
  cursor: default;
}
.email-icon {
  height: 40px;
}
/* BUTTONS */
.bouttonhaut {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.boutton {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 16px;
  width: 128px;
  border-radius: 32px;
}
.bcouleur1, .bcouleur2 {
  border: rgb(53, 53, 53) 1.6px solid;
}
.bcouleur1:hover, .bcouleur2:hover {
  cursor: pointer;
}
.bcouleur1, .bcouleur2:hover {
  background: rgb(53, 53, 53);
  color: white;
}
.bcouleur1:hover {
  background: rgb(0, 0, 0);
}
.bcouleur2 {
  background: none;
}
.bcouleur2:hover {
  border: rgb(255, 255, 255) 1.6px solid;
}
.bouttonhaut {
  gap: 16px;
}
