/* PROFILE SECTION */

#profil {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.image {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.texte {
  align-self: center;
  text-align: center;
}

.texte p {
  font-weight: 600;
}

.texte__p1 {
  text-align: center;
}

.p2txt {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.titre {
  font-size: 3rem;
  text-align: center;
}

#social {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 50px;
}

/* CONTACT */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

/* BUTTONS */

.bouttonhaut {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.boutton {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.bcouleur1,
.bcouleur2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.bcouleur1:hover,
.bcouleur2:hover {
  cursor: pointer;
}

.bcouleur1,
.bcouleur2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.bcouleur1:hover {
  background: rgb(0, 0, 0);
}

.bcouleur2 {
  background: none;
}

.bcouleur2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.bouttonhaut {
  gap: 1rem;
}
