.sectionss {
  gap: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.sections {
  justify-content: center;
  flex-direction: column;
}
.sectionss, .sections {
  display: flex;
}
.jsp {
  padding: 24px;
  flex: 1;
  background: white;
  border-radius: 32px;
  border: rgb(53, 53, 53) 1.6px solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}
.section-container {
  gap: 64px;
  height: 80%;
}
#profil {
  display: flex;
  justify-content: center;
  gap: 80px;
  height: 700px;
}
.image {
  display: flex;
  height: 400px;
  width: 500px;
  margin: auto 0;
}
.texte {
  align-self: center;
  text-align: center;
}
.texte p {
  font-size: 30px;
}
.texte__p1 {
  text-align: center;
}
.p2txt {
  font-size: 28px;
  margin-bottom: 10px;
}
.titre {
  font-size: 40px;
  text-align: center;
}
h3{
  font-size: 30px;
}
p{
  font-size: 20px;
}
  