/* ABOUT SECTION */

.sectionss {
    gap: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .sections {
    justify-content: center;
    flex-direction: column;
  }
  
  .sectionss,
  .sections {
    display: flex;
  }
  
  .jsp {
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
  }
  
  .section-container {
    gap: 4rem;
    height: 80%;
  }

  #profil {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
  }
  
  .image {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
  }
  
  .texte {
    align-self: center;
    text-align: center;
  }
  
  .texte p {
    font-size: 30px;
  }
  
  .texte__p1 {
    text-align: center;
  }
  
  .p2txt {
    font-size: 1.75rem;
    margin-bottom: 10px;
  }
  
  .titre {
    font-size: 40px;
    text-align: center;
  }
  
  h3{
    font-size: 30px;
  }

  p{
    font-size: 20px;
  }
