#experience {
  position: relative;
}

.untitre {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 32px;
}

.info {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
}

article {
  display: flex;
  width: 100%;
  justify-content: space-around;
  gap: 8px;
}

article .icon {
  cursor: default;
}

p {
  color: rgb(85, 85, 85);
  font-weight: 500;
  margin-bottom: 8px;
  width: 100%;
}

