/* GENERAL */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

img {
  border-radius: 15%;
}

.titre {
  font-size: 40px;
}

/* DESKTOP NAV */

nav,
.nav-liens {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 120px;
}

.nav-liens {
  gap: 20px;
  list-style: none;
  font-size: 30px;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

.logo {
  font-size: 40px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.logo:hover {
  cursor: default;
}

/* SECTIONS */

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
  }
  
  .section-container {
    display: flex;
  }

/* FOOTER SECTION */
footer p {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 20px;
}

/*scroolbar*/
::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: yellow black; 
}


.sectionss {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.sections {
  justify-content: center;
  flex-direction: column;
}

.sectionss,
.sections {
  display: flex;
}

.jsp {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.icon {
  cursor: pointer;
  height: 3rem;
}

/**/

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

img:hover {
  animation: shake 1s;
  animation-iteration-count: infinite;
}