.sectionss {
  gap: 32px;
  margin-bottom: 32px;
  margin-top: 32px;
}
.sections {
  justify-content: center;
  flex-direction: column;
}
.sectionss, .sections {
  display: flex;
}
.jsp {
  padding: 24px;
  flex: 1;
  background: white;
  border-radius: 20px;
  border: rgb(53, 53, 53) 1.6px solid;
  border-color: rgb(163, 163, 163);
  text-align: left;
}
h1{
  font-size: 50px;
}
/* PROJECTS SECTION */
#projets-s1 {
  position: relative;
  margin-bottom: 420px;
  margin-left: 75px;
  margin-right: 75px;
}
.color-container {
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
}
.project-img {
  border-radius: 32px;
  width: 90%;
  height: 90%;
}
.titre {
  margin: 10px;
  color: black;
}
.hidden{
  display: none;
}
.show-more-content {
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  width: 80%;
  margin: auto;
  text-align: left;
}
body {
  margin-bottom: 10px;
}
.us{
  text-align: center;
}
h3{
  text-align: center;
}
.bouttonProj {
  color: black;
  border-color: rgb(163, 163, 163);
}
#projets-s2 {
  position: relative;
  margin-bottom: 200px;
  margin-left: 75px;
  margin-right: 75px;
}
.color-container {
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
}
.project-img {
  border-radius: 32px;
  width: 90%;
  height: 90%;
}
.titre {
  margin: 10px;
  color: black;
}
#projets-s3 {
  position: relative;
  margin-bottom: 200px;
  margin-left: 75px;
  margin-right: 75px;
}
.show-more-button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.show-more-button:hover {
  background-color: #000000;
}
.show-more-content {
  border: 1px solid rgb(163, 163, 163);
  background: rgb(250, 250, 250);
  border-radius: 10px;
  padding: 15px;
  margin-top: 10px;
  width: 90%;
  text-align: left;
  transition: max-height 0.4s ease-in-out;
}
.sectionss {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.jsp {
  flex: 1;
  min-width: 300px;
  max-width: 400px;
  padding: 20px;
  background: white;
  border-radius: 15px;
  text-align: left;
  border: 1.6px solid rgb(163, 163, 163);
}
