.sectionss {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  
.sections {
    justify-content: center;
    flex-direction: column;
  }
  
.sectionss,
.sections {
    display: flex;
  }
  
.jsp {
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 20px;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: left;
  }

  h1{
    font-size: 50px;
  }

  /* PROJECTS SECTION */
  
#projets-s1 {
    position: relative;
    margin-bottom: 450px;
    margin-left: 75px;
    margin-right: 75px;
  }
  
.color-container {
    border-color: rgb(163, 163, 163);
    background: rgb(250, 250, 250);
  }
  
.project-img {
    border-radius: 2rem;
    width: 90%;
    height: 90%;
}
  
.titre {
    margin: 10px;
    color: black;
}


.hidden {
    display: none;
}

.show-more-content {
    border-color: rgb(163, 163, 163);
    background: rgb(250, 250, 250);
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    width: 80%;
    margin: auto;
    text-align: left;
}

body {
  margin-bottom: 500px;
}

.us{
  text-align: center;
}

h3{
  text-align: center;
}